USE [master]
GO
/****** Object:  Database [BD_JAPAMA]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE DATABASE [BD_JAPAMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_JAPAMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_JAPAMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_JAPAMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_JAPAMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_JAPAMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_JAPAMA]
GO
/****** Object:  Schema [Clientes]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [Clientes]
GO
/****** Object:  Schema [Inventarios]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [Inventarios]
GO
/****** Object:  Schema [Personas]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [Personas]
GO
/****** Object:  Schema [RecursosHumanos]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [RecursosHumanos]
GO
/****** Object:  Schema [Servicios]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [Servicios]
GO
/****** Object:  Schema [Sucursales]    Script Date: 26/04/2025 01:17:45 a. m. ******/
CREATE SCHEMA [Sucursales]
GO
/****** Object:  Table [dbo].[banco]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banco](
	[bancoId] [smallint] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_banco] PRIMARY KEY CLUSTERED 
(
	[bancoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contratoEmpleado]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contratoEmpleado](
	[contratoId] [int] NOT NULL,
	[tipo_contrato] [varchar](3) NOT NULL,
	[fecha_contrato] [datetime] NOT NULL,
	[fecha_vencimiento] [datetime] NOT NULL,
	[enlace_documento] [varchar](50) NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_contratoEmpleado] PRIMARY KEY CLUSTERED 
(
	[contratoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[empleadoId] [int] NOT NULL,
	[nss] [varchar](11) NOT NULL,
	[rfc] [varchar](13) NOT NULL,
	[contratoId] [int] NOT NULL,
	[puestoId] [smallint] NOT NULL,
	[edo_civil] [varchar](3) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[fecha_contratacion] [datetime] NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
	[personaId] [smallint] NOT NULL,
	[turnoId] [tinyint] NOT NULL,
	[nominaId] [int] NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[empleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historialAsistencia]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historialAsistencia](
	[asistenciaId] [int] NOT NULL,
	[empleadoId] [int] NOT NULL,
	[fecha_entrada] [datetime] NOT NULL,
	[fecha_salida] [datetime] NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_historialAsistencia] PRIMARY KEY CLUSTERED 
(
	[asistenciaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nomina]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nomina](
	[nominaId] [int] NOT NULL,
	[clabe] [varchar](18) NOT NULL,
	[bancoId] [smallint] NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_nomina] PRIMARY KEY CLUSTERED 
(
	[nominaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puesto]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puesto](
	[puestoId] [smallint] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[salario_base] [money] NOT NULL,
	[bonos] [money] NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_puesto] PRIMARY KEY CLUSTERED 
(
	[puestoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puestoSindicato]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puestoSindicato](
	[puestoSindicatoId] [smallint] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estatus] [varchar](3) NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_puestoSindicato] PRIMARY KEY CLUSTERED 
(
	[puestoSindicatoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sindicato]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sindicato](
	[sindicatoId] [smallint] NOT NULL,
	[empleadoId] [int] NOT NULL,
	[fecha_afiliacion] [datetime] NOT NULL,
	[puestoSindicatoId] [smallint] NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_sindicato] PRIMARY KEY CLUSTERED 
(
	[sindicatoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno]    Script Date: 26/04/2025 01:17:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno](
	[turnoId] [tinyint] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[duracion] [tinyint] NOT NULL,
	[hora_entrada] [time](0) NOT NULL,
	[hora_salida] [time](0) NOT NULL,
	[fecha_mod] [datetime] NOT NULL,
 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
(
	[turnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_contratoEmpleado] FOREIGN KEY([contratoId])
REFERENCES [dbo].[contratoEmpleado] ([contratoId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_contratoEmpleado]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_nomina] FOREIGN KEY([nominaId])
REFERENCES [dbo].[nomina] ([nominaId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_nomina]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_puesto] FOREIGN KEY([puestoId])
REFERENCES [dbo].[puesto] ([puestoId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_puesto]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_turno] FOREIGN KEY([turnoId])
REFERENCES [dbo].[turno] ([turnoId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_turno]
GO
ALTER TABLE [dbo].[historialAsistencia]  WITH CHECK ADD  CONSTRAINT [FK_historialAsistencia_empleado] FOREIGN KEY([empleadoId])
REFERENCES [dbo].[empleado] ([empleadoId])
GO
ALTER TABLE [dbo].[historialAsistencia] CHECK CONSTRAINT [FK_historialAsistencia_empleado]
GO
ALTER TABLE [dbo].[nomina]  WITH CHECK ADD  CONSTRAINT [FK_nomina_banco] FOREIGN KEY([bancoId])
REFERENCES [dbo].[banco] ([bancoId])
GO
ALTER TABLE [dbo].[nomina] CHECK CONSTRAINT [FK_nomina_banco]
GO
ALTER TABLE [dbo].[sindicato]  WITH CHECK ADD  CONSTRAINT [FK_sindicato_empleado] FOREIGN KEY([empleadoId])
REFERENCES [dbo].[empleado] ([empleadoId])
GO
ALTER TABLE [dbo].[sindicato] CHECK CONSTRAINT [FK_sindicato_empleado]
GO
ALTER TABLE [dbo].[sindicato]  WITH CHECK ADD  CONSTRAINT [FK_sindicato_puestoSindicato] FOREIGN KEY([puestoSindicatoId])
REFERENCES [dbo].[puestoSindicato] ([puestoSindicatoId])
GO
ALTER TABLE [dbo].[sindicato] CHECK CONSTRAINT [FK_sindicato_puestoSindicato]
GO
USE [master]
GO
